<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.app.jagles">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">

        <!--<activity android:name="com.app.jagles.qr.BarCodeActivity" />-->

    </application>

</manifest>
